/* Suppression de tout ce qui pourrait créer du blanc ou du gris */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000000; /* Noir total */
    overflow: hidden; /* Empêche tout mouvement ou scroll */
    cursor: default; /* On pourra changer le curseur plus tard */
}
